.container {
  width: 1300px !important;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}
.glob_article {
  margin-top: 30px;
  width: 250px;
  
}
.user_img {
  display: flex;
  width: 15%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7px;
  font-size: 15px;
  color: #999999;
  margin-left: 19px;
  
}
a {
  text-decoration: none;
}
.user_img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: "cover" 
}

.img_article img {
  width: 250px;
  height: 360px;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  object-fit: "cover";
}

img{
    object-fit: "fill"!important;

    margin-left: 10px;
}
.price {
  color: black;

}
p{
    margin: 5px 5px;
    color: #999999;
    font-size: 12px;
    margin-left: 20px;
}
.cp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  color: #2EB0BA!important;
}