* {
  box-sizing: border-box;
}
.header_cantainer {
  width: 1300px !important;
  margin: 0 auto;
  height: 120px;
  font-family: "Roboto", sans-serif;
}
.navToken{
  height: 140px !important;
}
.token_sous_header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:122px;
}
.sous_header{
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:122px;
}
.header_logo{
  margin-right: 10px;
  margin-top: 10px;
}
header {
  background-color: #ffffff;
}
.isNone{
  display: none;
}
.input-icone {
  background: #f5f6f7;
  height: 40px;
  width: 630px;
  border: #f5f6f7 1px solid;
  border-radius: 7px;
  margin-top: 20px;
}
.icone_display {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding-left: 7px;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  color: #868484;
  margin-top: 8px;
}
input {
  border: none;
  background: #f5f6f7;
  color: #f5f6f7 !important;
  width: 90%;
  height: 25px;
  font-size: 17px;
  padding-top: 5px;
}
/* Switch */
#toggle {
  display: none;
}


.MuiSwitch-thumb{
  color:#2eb0ba ;
  background-color: #2eb0ba;
}


.toggle {
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  /*  #2eb0ba*/
}
span {
  font-size: 10px !important;
}
.css-14gyywz-MuiSlider-valueLabel {
  color: white !important;
  background: #2eb0ba !important;
}
.MuiSlider-rail {
  color: #2eb0ba !important;
}
.css-188mx6n-MuiSlider-root {
  color: #2eb0ba !important;
}

.slider {
  display: flex;
  width: 450px;
  justify-content: space-around;
}

.toggle_slider {
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
  color: black;
}
h4 {
  font-size: 17px !important;
}
button {
  padding: 5px;
  width: 120px;
  margin: 5px;
  height: 30px;
  border: 1px solid #2eb0ba;
  border-radius: 5px;
  background-color: #ffffff;
  color: #2eb0ba;
}
.btn {
  background-color: #2eb0ba;
  color: #ffffff;
  margin-left: 30px;
}
/*--------------*/
.isToken{
  background-color: #C2175B;
  color: #ffffff;
}